/* CSS */
.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}


.nav-icon {
    background-image: url(../Assets/Logo.png);
    border: 0;
    height: 48px;
    width: 207px;
    background-size: cover;
    border-radius: 6px;
}

.garis-header {
    color: green;
}

.navigation-container>nav>button {
    height: 32px;
    width: 120px;
    border: 1px solid;
    border-radius: 6px;
    background-color: #171717;
    border-color: #c7c9c9;
    color: #c7c9c9;
}

.all-body {
    background-color: #171717;
    margin: 0;
}

.content-container {
    margin-left: 185px;
    margin-right: 185px;
}

.content-container>header {
text-align: center;
color: #c7c9c9;
}

.body-content {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .body-content {
        display: flex;
        flex-direction: column;
    }
}

.core-body {
    height: 200px;
    width: 100%;
    border: 1px solid;
    border-color: #c7c9c9;
    margin-top: 18px;
}
.core-body>header>h2 {
    text-align: left;
}

.core-item {
    border: 0;
    width: 700px;
    height: 460px;
    border-radius: 6px;
    margin-top: 18px;
}

.banner-item {
    height: 460px;
    width: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}

.item-right {
    background-color: #c7c9c9;
    border: 0;
    border-radius: 8px;
    width: 400px;
    height: 460px;
}

.itemcontentright {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 55px;
}
.item-form {
    text-align: left;
}

#name {
    width: 290px;
    height: 30px;
    border: 0;
    border-radius: 6px;
}

#email {
    width: 290px;
    height: 30px;
    border: 0;
    border-radius: 6px;
}

#select-option {
    width: 295px;
    height: 30px;
    border: 0;
    border-radius: 6px;
}

.submit {
    width: 295px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    background-color: #8C8C8C;
}

.item-form>input {
    height: 32px;
    width: 50%;
    margin-left: 4px;
    border: 1px solid darkgrey;
    border-radius: 8px;
}

.third-content {
    color: #c7c9c9;
    margin-right: 400px;
    margin-left: 100px;
    text-align: justify;
}

.third-content>p {
    margin-left: 100px;
}

.our-package {
    background-color: #c7c9c9;
    height: 100px;
    align-content: center;
}
.our-package>h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.second-body-content {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bali {
    background-image: url(../Assets/bali\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: 0;
    width: 300px;
    height: 100px;
    text-align: center;
}

.raja-ampat {
    background-image: url(../Assets/raja\ ampat\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: 0;
    width: 300px;
    height: 100px;
}

.banda-neira {
    background-image: url(..//Assets/banda\ neira\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: 0;
    width: 300px;
    height: 100px;
}

.third-body-content {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.taman-laut-bunaken {
    background-image: url(..//Assets/bunaken.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: 0;
    width: 300px;
    height: 100px;
}

.gili-trawangan {
    background-image: url(..//Assets/gili\ trawangan\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: 0;
    width: 300px;
    height: 100px;
}

.labuan-bajo {
    background-image: url(..//Assets/labuan\ bajo\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: 0;
    width: 300px;
    height: 100px;
}

h3 {
    margin-top: 40px;
}

.forth-content {
    text-align: center;
    color: #c7c9c9;
}

.call-action {
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.footer-content {
    text-align: center;
    color: #c7c9c9;
    font-size: 70%;
}

#end-logo {
    width: 120px;
}